@font-face {
  font-family: "iconfont"; /* Project id 3906503 */
  src: url('iconfont.woff2?t=1676900516123') format('woff2'),
       url('iconfont.woff?t=1676900516123') format('woff'),
       url('iconfont.ttf?t=1676900516123') format('truetype'),
       url('iconfont.svg?t=1676900516123#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

