html.dark{
  ----aj-header-color:#141414;
  --aj-main-color: #000000;
  --aj-color: #ffffff;
  color:var(--aj-color);
  .el-header{
    background-color: var(----aj-header-color);
  }
  .el-main {
    background-color: var(--aj-main-color);
  }
  // .svg-icon{
  //   fill:var(--aj-color);
  // }
}