html {
  --aj-header-color: #ffffff;
  --aj-main-color: #f0f2f5;
  --aj-bg-color: #ffffff;
  --aj-color: #000000;
  --aj-bg-menu-color: #ffffff;
  color: var(--aj-color);

  .el-header {
    background-color: var(--aj-header-color);
    border-bottom: 1px solid var(--el-border-color-light);
  }

  .el-main {
    background-color: var(--aj-main-color);
  }

  .el-aside {
    background-color: var(--aj-bg-menu-color);

  }

  .el-menu {
    border-right: 1px solid var(--el-border-color-light);
    background-color: var(--aj-bg-menu-color);

    .el-sub-menu__title{
      color: var(--aj-color) !important; 
    }
    .el-menu-item{
      color: var(--aj-color); 
  
    }
    .is-active {
      color: var(--el-menu-active-color);
    }
  }
}